:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

body {
  min-height: 100vh;
}

.main-content {
  background-color: rgb(151, 135, 211);
  min-height: 100vh;
}


@media screen and (max-width: 780px) {
  header {
    font-size: 10px;
    height: 48px;
  }
  ul li {
    font-size: 20px;
  }
  .link {
    font-size: 15px;
  }
  .header-container {
    flex-direction: column;
  }
}
