.content-box, .points {
    box-shadow: 14px 14px 0 -4px teal, 14px 14px 0 0 black;
    border: 6px solid black;
    border-radius: 14px;  
}

.points {
    height: 390px;
}

.carousel-image {
    height: 340px;
    width: 408px;
}

.slick-slide div {
    margin: 0 1 rem;
}

.slick-next {
    right: -25px !important; 
}

.github-link {
    display: flex;
    flex-direction: column;
}
