@media (min-width: 1000px) {
  .card {
    width: 800px !important;
  }
  .cards {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-right: 5%;
    padding-bottom: 5%;
  }
  .segment {
    padding-left: 5%;
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .extra content {
    display: flex;
  }
}
.greeting {
  padding-left: 2%;
}
